body {
  background-color: var(--theme-bg-color) !important;
  font-size: var(--body-font-size) !important;
  overflow-x: hidden;
  font-family: var(--font-nunito), var(--font-serif) !important;
  color: var(--theme-color) !important;
}

.container {
  @apply max-w-[1920px] mx-auto;
}

.container-p {
  @apply px-4 md:px-6 xl:px-8;
}

.sub-container {
  @apply mx-4 md:mx-10 mb-4 md:mb-10;
}

.active {
  @apply relative text-primary after:absolute after:bg-theme after:w-full after:h-[2px] after:block after:-bottom-4 after:transition-all after:duration-300;
}

/* ************ form input *********** */
.ant-input,
.ant-picker,
.ant-select-selector {
  @apply !bg-input-box !py-3;
}
input {
  @apply !text-theme placeholder:!font-medium placeholder:capitalize;
}
.ant-select {
  @apply !h-[50px];
}
.ant-select-selector {
  @apply !bg-input-box;
}
.ant-select-arrow {
  @apply !bg-input-box;
}
.ant-select-compact-item .ant-select-arrow {
  @apply !bg-input-box !pt-3;
}
.ant-select-arrow {
  @apply !text-theme;
}
.ant-form-item {
  @apply font-medium tracking-[1px];
}
.ant-form-item-label {
  @apply uppercase;
}
.ant-select-selection-item,
.ant-select-selection-placeholder {
  @apply !font-medium !text-theme;
}
.ant-form-item-control-input-content .ant-picker {
  @apply !w-full;
}
.ant-input-affix-wrapper-lg {
  @apply !bg-input-box !py-0;
}
.react-international-phone-input-container .react-international-phone-input {
  @apply !bg-input-box !border-0 !pe-0 !w-10;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  @apply border-0 !bg-input-box;
}
.ant-otp {
  @apply !w-full !flex !justify-between;
}

/* ************ Ant Tabs ************ */

.ant-tabs-nav-wrap {
  @apply flex justify-center;
}

.ant-tabs-nav::before {
  @apply hidden;
}

@media (max-width: 575px) {
  .ant-steps-item {
    @apply !flex !justify-center !items-center !mb-3;
  }
  .ant-steps.ant-steps-vertical {
    @apply flex-row;
  }
  .ant-steps-item-content {
    @apply !hidden;
  }
}
.ant-steps.ant-steps-vertical > .ant-steps-item {
  @apply !pb-0 !mb-3;
}
.ant-steps .ant-steps-item-icon {
  @apply rounded-md;
}

.ant-card-body {
  @apply !p-0 !border-red-400 !shadow-none;
}

/* ************ Contest page ************ */
.contestPage {
  .ant-input,
  .ant-input-group-wrapper-outlined .ant-input-group-addon {
    @apply !bg-transparent !border-none !shadow-none;
  }

  /* Remove border + shadow when focused or active */
  .ant-input-outlined:focus,
  .ant-input-outlined:focus-within {
    @apply !bg-transparent !border-none !shadow-none;
  }
}

/* ************ drawer *********** */

.menu-drawer .ant-drawer-header-title {
  @apply flex-row-reverse;
}

.menu-drawer .ant-drawer-header {
  @apply !flex-row-reverse;
}
.ant-drawer .ant-drawer-content {
  @apply !bg-theme-bg;
}

/* ************ date *********** */

.full-date {
  @apply !w-full grid grid-cols-7 gap-2 border-1 rounded-md bg-input-box border-card-border;
}
.full-date .MuiDayCalendar-header,
.full-date .MuiDayCalendar-weekContainer {
  @apply justify-evenly;
}
.MuiTypography-root {
  @apply !text-lg !font-bold;
}
.full-date .MuiPickersDay-root,
.full-date .MuiPickersCalendarHeader-label,
.full-date .MuiYearCalendar-button,
.full-date .MuiMonthCalendar-button {
  @apply !text-sm !font-semibold;
}

.full-date .Mui-selected,
.full-date .MuiPickersDay-root:hover {
  @apply rounded-md !bg-black text-white;
}

.full-date .css-su1ucx-MuiYearCalendar-root {
  @apply w-auto;
}

.full-date .MuiMonthCalendar-root {
  @apply !border-0;
}

.ant-drawer-title {
  @apply !text-lg !font-semibold;
}

/* ************ question section *********** */

.question-section .ant-select-selector,
.question-section .ant-select {
  @apply !h-9 !border-0 !rounded-sm !shadow-none;
}

.question-section .ant-select-selection-placeholder {
  @apply !text-sm !font-bold;
}

/* .question-section .ant-select-arrow {
  @apply !text-black;
} */

.question-section .ant-select {
  @apply flex items-center;
}

.question-section .question .ant-radio,
.question-section .question .ant-checkbox {
  @apply !hidden;
}

.question-section .ant-radio-label svg,
.question-section .ant-checkbox-label svg {
  @apply text-lg;
}
.question-section .question label.ant-checkbox-wrapper .ant-checkbox-label {
  @apply !m-auto;
}

.answered {
  @apply rounded-md bg-green-100 border-green-600;
}

.unanswered {
  @apply rounded-md bg-red-100 border-red-300;
}

.skip {
  @apply rounded-md bg-yellow-100 border-warning;
}

.not-visited {
  @apply rounded-md border-card-border hover:border-primary;
}

.marked {
  @apply rounded-md border-card-border hover:border-primary;
}

/* ************ result section *********** */

.tab-button .Mui-selected {
  @apply !bg-black !text-white !border-black;
}

.tab-button .MuiTabs-indicator {
  @apply hidden;
}

.tab-button .MuiTabs-list.MuiTabs-flexContainer {
  @apply flex gap-2;
}

.tab-button .MuiButtonBase-root.MuiTab-root {
  @apply !border-2 border-card-border rounded-lg bg-white;
}

.tab-panels .MuiBox-root {
  @apply p-0;
}

.horizontal-tabs .MuiTabs-list.MuiTabs-flexContainer {
  @apply grid grid-cols-2 gap-0;
}
.horizontal-more-tabs .MuiTabs-list.MuiTabs-flexContainer {
  @apply flex sm:grid grid-cols-5 gap-0;
}
.about-tabs .MuiTabs-list.MuiTabs-flexContainer {
  @apply flex sm:grid grid-cols-4 gap-0;
}
.horizontal-tabs .MuiTabs-list.MuiTabs-flexContainer button {
  @apply !max-w-full  tracking-[1px] font-bold px-9;
}

.horizontal-tabs .MuiTabs-list.MuiTabs-flexContainer button:first-child {
  @apply !rounded-l-lg !rounded-r-none;
}

.horizontal-tabs .MuiTabs-list.MuiTabs-flexContainer button:last-child {
  @apply !rounded-r-lg !rounded-l-none;
}

.LecturesTabs .MuiTabs-list.MuiTabs-flexContainer button {
  @apply !font-bold;
}
.LecturesTabs .MuiTabs-list.MuiTabs-flexContainer .Mui-selected {
  @apply !bg-input-box !rounded-l-lg;
}

/* ************ progress *********** */

.others.ant-progress
  .ant-progress-bg.ant-progress-bg-inner
  .ant-progress-text-inner.ant-progress-text-bright {
  @apply !text-white;
}

.ant-progress .ant-progress-bg.ant-progress-bg-inner .ant-progress-text-inner {
  @apply !text-xs;
}

/* ************ Ant Notification ************ */
.ant-notification-notice.ant-notification-notice-info {
  @apply !p-3 flex  rounded  !max-w-xl !w-lg;
}
.anticon-info-circle.ant-notification-notice-icon.ant-notification-notice-icon-info
  path {
  @apply !bg-green-500;
}
.ant-notification-notice-info .ant-notification-notice-icon svg path {
  fill: #ffffff;
}
.ant-notification-notice-close {
  @apply !mb-3 !top-3 !right-2 !text-xs !text-white;
}
.ant-notification-notice-message {
  @apply !text-white !uppercase;
}

/* ************ recharge *********** */

.recharge .ant-form-item {
  @apply !mb-0 w-[50%];
}

.recharge .ant-form-item input {
  @apply border-0 !border-b-2 !shadow-none text-center;
}

/* ************ Ant Uploads ************ */
.ant-upload.ant-upload-btn {
  @apply !py-15;
}

.ant-upload-list.ant-upload-list-text {
  @apply hidden;
}

/* ************ Ant Modal ************ */
.ant-modal .ant-modal-content {
  @apply !p-2 !rounded-2xl;
}
.share-modal.ant-modal .ant-modal-content {
  @apply !p-5 !rounded-lg;
}
.share-modal .ant-modal-close-icon {
  @apply !text-black;
}
.ant-modal-close-icon {
  @apply !text-white;
}

/* ************ Ant Modal ************ */
.feedback.ant-modal .ant-modal-content {
  @apply !p-0 !rounded-2xl;
}

.card-body-gradient {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-success)
  );
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  animation: gradientMove 4s ease infinite;
}

/* ================  Video Modal Section End ================ */

.video-Modal .ant-modal-content {
  @apply !p-0;
}
.video-Modal .ant-modal-close {
  @apply !hidden;
}

/* ================  Video Modal  Section End ================ */

/* Custom Pagination Styling */
.custom-pagination {
  @apply flex items-center gap-2;
}
.custom-pagination .ant-pagination-item {
  @apply !border-theme/30 !text-theme !rounded-lg;
}

.custom-pagination .ant-pagination-item-active {
  @apply !opacity-100 !border-primary !text-primary !bg-bg-light;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  @apply !border-box-border hover:!border-theme;
}
.custom-pagination .ant-pagination-prev .ant-pagination-item-link,
.custom-pagination .ant-pagination-next .ant-pagination-item-link {
  @apply !rounded-lg !border-theme/30 !text-theme;
}

.custom-pagination .ant-pagination-disabled .ant-pagination-item-link {
  @apply !opacity-40 !cursor-not-allowed;
}

.custom-pagination .ant-select-selector,
.custom-pagination .ant-select {
  @apply !h-9 !border-box-border hover:!border-theme !rounded-sm !shadow-none;
}

.custom-pagination .ant-select-selection-placeholder {
  @apply !text-sm !font-bold;
}

.custom-pagination .ant-select {
  @apply flex items-center;
}

/* ================  Purchase Drawer Section Start ================ */

.purchase-Drawer input {
  @apply !p-[7px] !font-medium;
}

.paymentSuccess .ant-input-group-addon:last-child .ant-input-search-button {
  @apply !bg-success;
}
.paymentSuccess .ant-input-outlined:focus,
.paymentSuccess .ant-input-outlined:hover {
  @apply !border-success;
}

/* ================  Skeleton ================ */
.skeleton .ant-skeleton.ant-skeleton-element{
  @apply !w-full;
}