body {
  font-size: var(--body-font-size);
  overflow-x: hidden;
  font-family: var(--font-nunito), var(--font-serif) !important;
  color: var(--theme-body-font-color);
}

.sub-container {
  @apply mx-4 md:mx-12;
}

/* .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
} */
.offcanvas-backdrop.fade {
  opacity: 0;
}
.offcanvas-backdrop.show {
  opacity: 0.5;
}
.offcanvas-backdrop {
  background-color: var(--backdrop);
  z-index: 1500;
  cursor: url(../images/cursor-close.svg), auto;
}
.offcanvas-backdrop.show {
  opacity: 1;
}
/* ************ form input *********** */
.ant-input,
.ant-picker,
.ant-select-selector {
  @apply !bg-input-box !py-3;
}
input {
  @apply placeholder:!font-medium placeholder:capitalize;
}
.ant-select {
  @apply !h-[50px];
}
.ant-select-selector {
  @apply !bg-input-box;
}
.ant-select-arrow {
  @apply !bg-input-box;
}
.ant-select-compact-item .ant-select-arrow {
  @apply !bg-input-box !pt-3;
}
.ant-form-item {
  @apply font-medium tracking-[1px];
}
.ant-form-item-label {
  @apply uppercase;
}
.ant-select-selection-placeholder {
  @apply !font-medium;
}
.ant-form-item-control-input-content .ant-picker {
  @apply !w-full;
}
.ant-input-affix-wrapper-lg {
  @apply !bg-input-box !py-0;
}
.react-international-phone-input-container .react-international-phone-input {
  @apply !bg-input-box !border-0 !pe-0 !w-10;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  @apply border-0 !bg-input-box;
}
.ant-otp {
  @apply !w-full !flex !justify-between;
}

/* ************ Ant Tabs ************ */

.ant-tabs-nav-wrap {
  @apply flex justify-center;
}

.ant-tabs-nav::before {
  @apply hidden;
}

.custom-tab-full .ant-tabs-nav-list {
  @apply flex w-full;
}
.ant-tabs-nav-list .ant-tabs-tab {
  @apply !bg-input-box justify-center !text-black !m-0 !rounded-none !border-none !outline-none uppercase font-semibold !px-4 md:!px-8 tracking-[1px] w-full;
}

.ant-tabs-nav-list .ant-tabs-tab-active {
  @apply !bg-black !text-white !m-0 !border-none !outline-none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  @apply !text-white;
}

.ant-tabs-card.ant-tabs-top .ant-tabs-nav .ant-tabs-tab:first-of-type {
  @apply !rounded-l-md;
}

.ant-tabs-card.ant-tabs-top .ant-tabs-nav .ant-tabs-tab:nth-child(2) {
  @apply !rounded-r-md;
}

@media (max-width: 575px) {
  .ant-steps-item {
    @apply !flex !justify-center !items-center !mb-3;
  }
  .ant-steps.ant-steps-vertical {
    @apply flex-row;
  }
  .ant-steps-item-content {
    @apply !hidden;
  }
}
.ant-steps.ant-steps-vertical > .ant-steps-item {
  @apply !pb-0 !mb-3;
}
.ant-steps .ant-steps-item-icon {
  @apply rounded-md;
}

.ant-card-body {
  @apply !p-0 !border-red-400 !shadow-none;
}

/* ************ Contest page ************ */
.contestPage {
  .ant-input,
  .ant-input-group-wrapper-outlined .ant-input-group-addon {
    @apply !bg-transparent !border-none !shadow-none;
  }

  /* Remove border + shadow when focused or active */
  .ant-input-outlined:focus,
  .ant-input-outlined:focus-within {
    @apply !bg-transparent !border-none !shadow-none;
  }
}

/* ************ custom button *********** */
.custom-button.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1rem 2rem !important;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}
.custom-button.button::before,
.custom-button.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom-button.button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff !important;
  background: #e7e7e7 !important;
}
.custom-button.button--mimas span {
  position: relative;
  mix-blend-mode: difference;
}
.custom-button.button--mimas::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.6s cubic-bezier(0.3, 1, 0.8, 1);
}
.custom-button.light.button--mimas::before {
  content: "";
  background: #ffffff;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.6s cubic-bezier(0.3, 1, 0.8, 1);
}
.custom-button.button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}

/* ************ drawer *********** */

.ant-drawer-right .ant-drawer-header-title {
  @apply flex-row-reverse ;
}

/* ************ date *********** */

.full-date {
  @apply !w-full grid grid-cols-7 gap-2 border-1 rounded-md bg-input-box border-card-border;
}
.full-date .MuiDayCalendar-header,
.full-date .MuiDayCalendar-weekContainer {
  @apply justify-evenly;
}
.MuiTypography-root {
  @apply !text-lg !font-bold;
}
.full-date .MuiPickersDay-root,
.full-date .MuiPickersCalendarHeader-label,
.full-date .MuiYearCalendar-button,
.full-date .MuiMonthCalendar-button {
  @apply !text-sm !font-semibold;
}

.full-date .Mui-selected,
.full-date .MuiPickersDay-root:hover {
  @apply rounded-md !bg-black text-white;
}

.full-date .css-su1ucx-MuiYearCalendar-root {
  @apply w-auto;
}

.full-date .MuiMonthCalendar-root {
  @apply !border-0;
}

.ant-drawer-title {
  @apply !text-lg !font-semibold;
}

/* ************ question section *********** */

.question-section .ant-select-selector {
  @apply !bg-white !h-11;
}

.question-section .ant-select-arrow {
  @apply !bg-white;
}

.question-section .ant-select {
  @apply flex items-center !w-30;
}

.question-section .question .ant-radio,
.question-section .question .ant-checkbox {
  @apply !hidden;
}

.question-section .ant-radio-label svg,
.question-section .ant-checkbox-label svg {
  @apply text-lg;
}

.answered {
  @apply rounded-b-md rounded-t-2xl bg-green-100 border-green-600;
}

.unanswered {
  @apply rounded-b-2xl rounded-t-md bg-red-100 border-red-600;
}

.not-visited {
  @apply rounded-md border-card-border hover:border-primary;
}

/* ************ result section *********** */

.result .ant-tabs-nav {
  @apply w-90 bg-input-box p-4 rounded-2xl;
}

.result .ant-tabs-nav-list {
  @apply grid gap-2;
}

.result .ant-tabs-ink-bar {
  @apply hidden;
}

.result .ant-tabs-nav-list .ant-tabs-tab {
  @apply !border !border-gray-900 !rounded-lg;
}

.result .ant-tabs-content-holder {
  @apply border-l-0;
}
