body {
  font-size: var(--body-font-size);
  overflow-x: hidden;
  font-family: var(--font-nunito), var(--font-serif);
  color: var(--theme-body-font-color);
}

/* ************ form input *********** */
.ant-input,
.ant-picker,
.ant-select-selector {
  @apply !bg-input-box !py-3;
}

input {
  @apply placeholder:!font-medium placeholder:capitalize;
}
.ant-select {
  @apply !h-[50px];
}

.ant-select-selector {
  @apply !bg-input-box;
}

.ant-select-arrow {
  @apply !bg-input-box;
}

.ant-select-compact-item .ant-select-arrow {
  @apply !bg-input-box !pt-3;
}

.ant-form-item {
  @apply font-medium tracking-[1px];
}

.ant-form-item-label {
  @apply uppercase;
}

.ant-select-selection-placeholder {
  @apply !font-medium;
}
.ant-form-item-control-input-content .ant-picker {
  @apply !w-full;
}
.ant-input-affix-wrapper-lg {
  @apply !bg-input-box !py-0;
}

.react-international-phone-input-container .react-international-phone-input {
  @apply !bg-input-box w-14 !border-0 !pe-0 !w-10;
}
.react-international-phone-input-container .react-international-phone-country-selector-button {
  @apply border-0 !bg-input-box;
}

/* ************ form button *********** */
.form-submit .button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.form-submit .button::before,
.form-submit .button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-submit .button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: #e7e7e7;
}

.form-submit .button--mimas span {
  position: relative;
  mix-blend-mode: difference;
}

.form-submit .button--mimas::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.6s cubic-bezier(0.3, 1, 0.8, 1);
}

.form-submit .button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}
@media (max-width: 575px) {
  .ant-steps-item {
    @apply !flex !justify-center !items-center !mb-3;
  }
  .ant-steps.ant-steps-vertical {
    @apply flex-row;
  }
  .ant-steps-item-content {
    @apply !hidden;
  }
  .ant-steps .ant-steps-item-title::before {
    position: absolute;
    top: 16px;
    inset-inline-start: 100%;
    display: block;
    width: 9999px;
    height: 1px;
    background: rgba(5, 5, 5, 0.06);
    content: "";
  }
  .ant-steps .ant-steps-item-title::before {
    position: absolute;
    top: 16px;
    inset-inline-start: 100%;
    display: block;
    width: 9999px;
    height: 1px;
    background: rgba(5, 5, 5, 0.06);
    content: "";
  }
}

.ant-steps.ant-steps-vertical > .ant-steps-item {
  @apply !pb-0 !mb-3;
}
.ant-steps .ant-steps-item-icon {
  @apply rounded-md;
}

/* .offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
} */

.offcanvas-backdrop.fade {
  opacity: 0;
}

.offcanvas-backdrop.show {
  opacity: 0.5;
}

.offcanvas-backdrop {
  background-color: var(--backdrop);
  z-index: 1500;
  cursor: url(../images/cursor-close.svg), auto;
}
.offcanvas-backdrop.show {
  opacity: 1;
}
