:root {
  --primary: #fe690b;
  --primary-light: #feecd7;
  --bg-light: #fef6e6;
  --success: #037b3d;
  --input-box: #f5f5f5;
  --body-font-size: 14px;
  --font-nunito: Nunito Sans;
  --font-serif: sans-serif;
  --theme-body-font-color: #404040;
  --box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-bg-light: var(--bg-light);
  --color-input-box: var(--input-box);
  --shadow-box-shadow: var(--box-shadow);
  --color-success: var(--success);
}
