@import "tailwindcss";
@import "../public/assets/css/variables.css";
@import "../public/assets/css/timeline.css";
@import "../public/assets/css/button.css";
@import "../public/assets/css/style.css";
@import "../public/assets/css/loader.css";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";
@import "aos/dist/aos.css";
