@import "tailwindcss";


:root {
    --primary: #e76f1d;
    --primary-light: #feecd7;
    --bg-light: #fef6e6;
    --input-box: "#F5F5F5";
}

@theme {
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-bg-light: var(--bg-light);
    --color-input-box: var(--input-box);
}


.loginFormButton {
    @apply flex-1 h-12 py-3 sm:h-14 lg:h-16 bg-[#060606] hover:bg-[#060606]/90 rounded-xl text-white font-bold text-sm lg:text-base tracking-wider
}

.loginForm .ant-input-affix-wrapper,
.LoginNumberSelect input {
    @apply !bg-neutral-100 !py-3
}

.loginForm input {
    @apply placeholder:!font-medium 
}

.LoginNumberSelect .ant-select-selector {
    @apply !bg-neutral-100 !py-6
}

.LoginNumberSelect .ant-select-arrow {
    @apply !bg-neutral-100 !pt-3
}

.ant-form-item-required {
    @apply font-medium tracking-[1px]
}


.loginForm .ant-input-group-wrapper {}